@keyframes fundo{
    0% {background-color: #d900ff;}
    100% {background-color: #227eff;}
}

body{
    animation: fundo 5s linear 2s infinite alternate;
}

main{
    width: 65%;
    height: 60vh;
    border: 1px solid #fff;
    margin-left: 17.5%;
    margin-top: 20vh;
    border-radius: 15px;
    padding: 8%;
}
main h1{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 3em;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    color: #fff;
    margin-bottom: 1vh;
}
main input{
    width: 100%;
    height: 5vh;
    border: 0;
    border-radius: 8px;
    margin-top: 2vh;
}